apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: quay.io/rh-ee-moomura/simple-stateful-app:latest
        ports:
        - containerPort: 3000
        env:
        - name: DB_HOST
          value: "mysql-service.simple-stateful-app.svc.cluster.local"
        - name: DB_PORT  
          value: "3306"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_PASSWORD
        - name: DB_NAME
          value: "node_app"